@{
    ViewData["Title"] = "Login";
   
}

<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Left Side: Image -->
        <div class="col-md-6 text-center">
            <img src="~/img/healtht.png" class="img-fluid" alt="Login Image" />
        </div>

        <!-- Right Side: Login Form -->
        <div class="col-md-6">
            <center><h2>Login</h2></center>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required />
                </div>

                <center><button type="submit" class="btn btn-success mt-2">Login</button></center>
            </form>

            <p class="mt-3" style="color:red;">@ViewBag.Error</p>
            <p class="mt-2">
                <center> <a asp-action="Signup">New User? Sign Up</a></center>
            </p>
        </div>
    </div>
</div>