USE [HFile]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03-11-2025 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentDetails]    Script Date: 03-11-2025 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](200) NULL,
	[File_extension] [varchar](50) NULL,
	[Uploaded_by] [int] NULL,
	[Uploaded_Date] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-11-2025 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Imageprofile] [varchar](200) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251102052519_CreateUsersTable', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[DocumentDetails] ON 

INSERT [dbo].[DocumentDetails] ([ID], [FileName], [File_extension], [Uploaded_by], [Uploaded_Date], [IsDeleted]) VALUES (1, N'test', N'.png', 0, CAST(N'2025-11-03T20:18:37.970' AS DateTime), 0)
INSERT [dbo].[DocumentDetails] ([ID], [FileName], [File_extension], [Uploaded_by], [Uploaded_Date], [IsDeleted]) VALUES (2, N'test2', N'.png', 0, CAST(N'2025-11-03T20:22:39.980' AS DateTime), 0)
INSERT [dbo].[DocumentDetails] ([ID], [FileName], [File_extension], [Uploaded_by], [Uploaded_Date], [IsDeleted]) VALUES (3, N'test3', N'.png', 0, CAST(N'2025-11-03T20:23:44.953' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DocumentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [Gender], [Phone], [Password], [Imageprofile]) VALUES (1, N'Rohit gupta', N'roohit848@gmail.com', N'Male', N'9702095131', N'Rohit786G', N'83cb5b89-1898-4976-8f60-e60bb4e41c50.png')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Gender], [Phone], [Password], [Imageprofile]) VALUES (2, N'Suraj Gupta', N'suraj1@gmail.com', N'Male', N'9702095131', N'12345678', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[DocumentDetails] ADD  DEFAULT (getdate()) FOR [Uploaded_Date]
GO
ALTER TABLE [dbo].[DocumentDetails] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
